<!-- header inner -->
<header>
  <div class="header">
    <div class="container">
      <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
            <div class="full">
                <div class="center-desk">
                  <div class="logo">
                      <a href="index.html"><img width="200px" height="50px" src="../../../assets/Images/logo.png" alt="#" /></a>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
            <nav class="navigation navbar navbar-expand-md navbar-dark ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExample04">
                      <div class="sign_btn"><a routerLink="/login">Sign in</a></div>
                </div>
            </nav>
          </div>
      </div>
    </div>
  </div>
</header>
<!-- header inner -->

<!-- banner -->
<section class="banner_main">
  <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="text-bg">
              <div class="padding_lert">
                  <span>Bem-vindo ao Hotal</span>
                  <h1>Transilvânia</h1>
                  <p>O Hotel Transilvânia está localizado no coração da cidade de Curitiba, 
                    capital do estado do Paraná, na região sul do Brasil. A Torre Panorâmica, 
                    que tem um observatório em sua parte superior, destaca-se na silhueta da cidade. 
                    Conhecida como centro cultural, Curitiba abriga vários espaços para apresentações,
                     como a Ópera de Arame, uma estrutura de aço tubular com telhado transparente.</p>
                  <a routerLink="/login">Começar</a>
              </div>
            </div>
        </div>
      </div>
  </div>
</section>
<!-- end banner -->

<!-- choose  section -->
<div class="choose">
  <div class="container">
      <div class="row">
        <div class="col-md-6">
            <div class="choose_box">
              <div class="titlepage">
                  <h2><span class="text_norlam">Escolha o perfeito</span> <br>confortável</h2>
              </div>
              <p>Videiras floridas dominam um pátio tranquilo e uma fonte grega nesta
                 villa moderna construída por um renomado arquiteto francês. Nade entre bananeiras em vasos na piscina curva, organize coquetéis entre estátuas perto da lareira e caminhe pelos impressionantes interiores em preto e branco </p>
              <a class="read_more" href="#">Veja mais</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                  <div class="img_box">
                    <figure><img src="../../../assets/Images/img1.jpg" alt="#"/></figure>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="img_box">
                    <figure><img src="../../../assets/Images/img2.jpg" alt="#"/></figure>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="img_box">
                    <figure><img src="../../../assets/Images/img3.jpg" alt="#"/></figure>
                  </div>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>