<!-- header inner -->
<header>
    <div class="header">
      <div class="container">
        <div class="full">          
            <div class="center-desk">
              <div class="logo">
                <a href="index.html"><img width="200px" height="50px" src="../../../assets/Images/logo.png" alt="#" /></a>
              </div>
            </div>
  
            <div class="scrollmenu">
              ...
              <a (click)="passToHome()">Home</a>
              <!-- <a routerLink="/reserva">Faça sua reserva</a> -->
              <a>Suas Reservas</a>
              <a (click)="passToAtualizar()" >Atualizar Cadastro</a>
              <a (click)="passToPerfil()" >Perfil</a>
              ...
            </div>
  
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
              <nav class="navigation navbar navbar-expand-md navbar-dark ">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarsExample04">
                        <div class="sign_btn"><a href="#">Sair</a></div>
                  </div>
              </nav>
            </div>
        </div>
      </div>
    </div>
  </header>
  <!-- header inner -->
  
  <!-- banner -->
  <section class="banner_main">
    <div class="container">
        <div class="row">
  
        </div>
    </div>
  </section>
  <!-- end banner -->

  <!-- choose  section -->
  <div class="choose">
    <div class="container">
        <div class="row">
          <div class="col-md-6">
              <div class="choose_box">
                <h1>Minhas Reservas</h1>
                <div class="card" *ngFor="let reserva of reservas">
                  <div>
                    <img width="250px" height="150px" class="image" src="{{ reserva.quarto.imagemQuarto }}"  />
                  </div>
                  <div class="cardtext">
                    <h2>{{ reserva.quarto.nomeQuarto }}</h2>
                    <p>Qtd camas: {{ reserva.quarto.quantidadeDeCamas }}</p>
                    <p>Tipo de Cama: {{ reserva.quarto.tipoDeCamas }}</p>
                    <p>Preço: {{ reserva.quarto.preco}}</p>
                    <p>Data Inicio: {{ reserva.CheckIn}}</p>
                    <p>Data Fim: {{ reserva.CheckOut}}</p>

                  </div>
                  
                  <a (click)="delete(reserva.id)" class="myButton">Deletar</a>
                </div>
  
  
              </div>
          </div>
        </div>
    </div>
  </div>
  