.background 
{
    height: 100vh;
    width: 100vw;
    /* background-color: black; */
}

.div_nav 
{
    height: 60px;
    width: 100vw;
    min-width: 1024px;
}

.texto_cadastro 
{
    font-size: 30px;
    margin-left: 40vw;
}

.body_content
{
    display: flex;
    height: 92vh;
    width: 100vw;
    min-height: 597px;
    min-width: 1024px;
    /* background-color: red;  */
    justify-content: center;
    align-items: center; 
}

.image_content
{
    height: 550px;
    width: 550px;
    /* background-color: #f7f0f0;   */
    
}

.component_content
{
    height: 550px;
    width: 700px;
    background-color: #f7f0f0;  
}

.content_1
{
    height: 40%;
    width: 100%;
    /* background-color: gray;   */
}

.first_content
{
    height: 100%;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: flex-end;
    /* background-color: yellow;   */
}

.div_title_container  
{
    display: flex;
    height: 40%;
    width: 100%;
    /* background-color: gray;   */
}

.div_title  
{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    /* background-color: red;   */
}

.txt_css
{
    font-size: 30px;
    text-align: center;
}

.inputs_container
{
    height: 60%;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: flex-end;
    /* background-color: red; */
}

.input_nome
{
    /* height: 100%; */
    width: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
    /* background-color: red; */
}

.input_Quarto
{
    /* height: 100%; */
    width: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
    /* background-color: red; */
}


.content_2
{
    height: 60%;
    width: 100%;
    /* background-color: palevioletred;   */
}

.second_content
{
    height: 100%;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: flex-end;
    /* background-color: yellow;   */
}

.inputs_2
{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* background-color: red;   */
}

.input_DataIni
{
    padding-top: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 50%;
}

.input_DataFim
{
    padding-top: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 50%;
}

.button_container
{
    height: 70%;
    width: 100%;
    display: flex;
    /* background-color: blue;  */
}

.div_button
{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2vw;
    /* background-color: gray;  */
}

.text_quarto_select
{
    justify-content: center;
    align-items: center;
}

