<!-- header inner -->
<header>
    <div class="header">
      <div class="container">
        <div class="full">          
            <div class="center-desk">
              <div class="logo">
                <a href="index.html"><img width="200px" height="50px" src="../../../assets/Images/logo.png" alt="#" /></a>
              </div>
            </div>
  
            <div class="scrollmenu">
              ...
              <a href="#home">Home</a>
              <a href="#news">Reservas</a>
              <a href="#news">Cadastro</a>
              ...
            </div>
  
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
              <nav class="navigation navbar navbar-expand-md navbar-dark ">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarsExample04">
                        <div class="sign_btn"><a href="#">Sair</a></div>
                  </div>
              </nav>
            </div>
        </div>
      </div>
    </div>
  </header>
  <!-- header inner -->
  
  <!-- banner -->
  <section class="banner_main">
    <div class="container">
        <div class="row">
  
        </div>
    </div>
  </section>
  <!-- end banner -->
  <!-- form_lebal -->
  <section>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <form class="form_book">
                <div class="row">
                    <div class="col-md-6">
                      <label class="date">Quarto1 </label>
                    </div>
  
                    <div class="col-md-6">
                        <label class="date">Quarto1 </label>
                        
                    </div>
                </div>
              </form>
          </div>
        </div>
    </div>
  </section>
  <!-- end form_lebal -->
  <!-- choose  section -->
  <div class="choose">
    <div class="container">
        <div class="row">
          <div class="col-md-6">
              <div class="choose_box">
                
                

                reservaaa



              </div>
          </div>
        </div>
    </div>
  </div>
  