<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="" data-tilt>
        <img
          height="400px"
          width="400px"
          src="../../../assets/Images/undraw_authentication_fsn5.svg"
          alt="IMG"
        />
      </div>

      <form class="login100-form validate-form">
        <span class="login100-form-title"> Faça seu Login </span>

        <div
          class="wrap-input100 validate-input"
          data-validate="Valid email is required: ex@abc.xyz"
        >
          <input
            class="input100"
            type="text"
            name="cpf"
            placeholder="Cpf"
            [(ngModel)]="cpf"
          />
          <span class="focus-input100"></span>
        </div>

        <div
          class="wrap-input100 validate-input"
          data-validate="Password is required"
        >
          <input
            class="input100"
            type="password"
            name="pass"
            placeholder="Senha"
            [(ngModel)]="senha"
          />
          <span class="focus-input100"></span>
        </div>

        <div class="container-login100-form-btn">
          <button (click)="login()" class="login100-form-btn">Login</button>
        </div>

        <div class="text-center p-t-136">
          <a class="txt2" routerLink="/cadastro">
            Criar uma conta
            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
