<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">

      <form class="login100-form validate-form" method="post" #frm="ngForm" (ngSubmit)="criar(frm)">
        <span class="login100-form-title">
          Cadastro
        </span>

        <div class="wrap-input100 validate-input" >
          <input id="Nome" class="input100" type="text" name="Nome" placeholder="Nome"
          [(ngModel)]="usuario.Nome" required>
        </div>

        <div class="wrap-input100 validate-input">
          <input id="Cpf" class="input100" type="text" name="CPF" placeholder="CPF"
          [(ngModel)]="usuario.Cpf" required>
        </div>

        <div class="wrap-input100 validate-input">
          <input placeholder="data de nascimento" id="DataNascimento" class="input100" type="text" onfocus="(this.type='date')" name="dataNascimento" 
          [(ngModel)]="usuario.DataNascimento" required>
          <!-- <input placeholder="data de nascimento" id="DataNascimento" class="input100" type="date" name="dataNascimento" 
          [(ngModel)]="usuario.DataNascimento" required> -->
          <!-- <input placeholder="Data Inicial" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date"> -->
        </div>


        <div class="wrap-input100 validate-input" >
          <input id="Senha" class="input100" type="password" name="Senha" placeholder="Senha"
          [(ngModel)]="usuario.Senha" required>
        </div>
        
        <div class="container-login100-form-btn">
          <button class="login100-form-btn"
            [disabled]="frm.invalid">
            Cadastrar
          </button>
        </div>

      </form>
      <div class="" data-tilt>
        <img height="300px" width="300px" src="../../../assets/Images/undraw_authentication_fsn5.svg" alt="IMG">
      </div>        
    </div>
  </div>
</div>