<!-- header inner -->
<header>
  <div class="header">
    <div class="container">
      <div class="full">          
          <div class="center-desk">
            <div class="logo">
              <a href="index.html"><img width="200px" height="50px" src="../../../assets/Images/logo.png" alt="#" /></a>
            </div>
          </div>

          <div class="scrollmenu">
            ...
            <a routerLink="/home">Home</a>
            <a routerLink="/reserva">Faça sua reserva</a>
            <a routerLink="/reservas">Suas Reservas</a>
            <a routerLink="/usuario" >Atualizar Cadastro</a>
            <a routerLink="/perfil" >Perfil</a>
            ...
          </div>

          <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
            <nav class="navigation navbar navbar-expand-md navbar-dark ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExample04">
                      <div class="sign_btn"><a href="#">Sair</a></div>
                </div>
            </nav>
          </div>
      </div>
    </div>
  </div>
</header>
<!-- header inner -->

<!-- banner -->
<section class="banner_main">
  <div class="container">
      <div class="row">

      </div>
  </div>
</section>
<!-- end banner -->
<!-- form_lebal -->

<!-- end form_lebal -->
<!-- choose  section -->
<div class="choose">
  <div class="container">
      <div class="row">
        <div class="col-md-6">
            <div class="choose_box">

              <div class="card" *ngFor="let quarto of quartos">
                <div>
                  <img width="250px" height="150px" class="image"   src="{{quarto.imagemQuarto}}"  />
                </div>
                <div class="cardtext">
                  <h2>{{ quarto.nomeQuarto }}</h2>
                  <p>Qtd camas: {{ quarto.quantidadeDeCamas }}</p>
                  <p>Tipo de Cama: {{ quarto.tipoDeCamas }}</p>
                  <p>Preço: {{ quarto.preco}}</p>
                </div>
                
                <a routerLink="/reserva" class="myButton">Alugar</a>
              </div>


            </div>
        </div>
      </div>
  </div>
</div>
